<! doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Activity Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2>Dojo Activity Center</h2>
    <a href="/DashboardPage">Home</a> |
    <a href="/LogOf">Log Off</a>

    <h1>@ViewBag.title.Title</h1>
    <h3>Description: </h3>
    <p>@ViewBag.title.Descripton</p>
    <h3>Participants:</h3>
    @foreach(var guest in @ViewBag.joined.Reserver){
        <p>@guest.User_Reg.FirstName @guest.User_Reg.LastName</p>

    }
    <h3>Event Coordinator: </h3>
    @foreach(var hosts in @ViewBag.host.Reserver){
        <p>@hosts.User_Reg.FirstName @hosts.User_Reg.LastName</p>
    }
    
    @foreach(var data in @ViewBag.guests){
        bool flag = false;
        @foreach(var guest in @data.Reserver){
            if(guest.UserId == ViewBag.UserID){
                flag = true;
            }
        }
        @if(ViewBag.UserID == @data.Creator){
            <button><a href="/Delete/@data.ActivitiesId">Delete</a></button>
        }
        else if(flag == true){
            <button><a href="/leave/@data.ActivitiesId">Leave</a></button>
        }
        else
        {
            <button><a href="/join/@data.ActivitiesId">Join</a></button>
        }

    }
    


</body>
</html>